.menu{
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;

}

.apresentacao{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: rgb(63, 73, 82);
}

.subapresentacao{
    width: auto;
    text-align: center;
    color: aliceblue;
    font-family:belleza;
}

.subapresentacao p{
    font-size: 23px;
   letter-spacing: 0.5px;
}

.subapresentacao h2{
    font-size: 50px;
}

.jogos{

    font-family: belleza;
    display:flow-root;
    align-items:baseline;
    margin: 5px;
    border-radius: 5px;
    

}

.j1 {
    margin: 15px;
    text-align: center;
    vertical-align:baseline;
    padding: 10px;
    background-color: rgb(12, 12, 107);
    color: white;
    align-items:unset;
    border-radius: 5px;
    
    
}
.j2 {
    margin: 15px;
    text-align: center;
    vertical-align:baseline;
    padding: 10px;
    background-color: rgb(12, 12, 107);
    color: white;
    border-radius: 5px;
}
.j3 {
    margin: 15px;
    text-align: center;
    vertical-align:baseline;
    padding: 10px;
    background-color: rgb(12, 12, 107);
    color: white;
    border-radius: 5px;
}
.j4 {
    margin: 15px;
    text-align: center;
    vertical-align:baseline;
    padding: 10px;
    background-color: rgb(12, 12, 107);
    color: white;
    border-radius: 5px;
}
.rodape {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(63, 73, 82);
    color: aliceblue;
}

.subrodape p{
    margin-bottom: 0;
    font-family: belleza;
   
}
.imagens{
    justify-content: center;
    display:flex;
}